<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/articles.css">
    <title>Beispiel: CSS display:flex </title>
</head>
<body>

<div class="topmenu">
    <ul>
        <li>menu 1</li>
        <li>menu 2</li>
        <li>menu 3</li>
        <li>menu 4</li>
    </ul>
</div>
<header>
    <h1>Responsive mit display:flex</h1>
</header>
<main>
    <article>
        <img src="../images/bodyflying.JPG">
        <div>
            <h2>Bodyflying</h2>
            <p>
                Erlebnis Testbericht "...Okay, entspannen, entspannen…. Ich stehe an die Türe und lasse mich nach vorne fallen…
                mir blasen 200km/h entgegen. Ich achte darauf in den ersten 2-3 Sekunden langsam auszuatmen..."
            </p>
        </div>
    </article>
    <article>
        <img src="../images/bodyflying.JPG">
        <div>
            <h2>Bodyflying</h2>
            <p>
                Erlebnis Testbericht "...Okay, entspannen, entspannen…. Ich stehe an die Türe und lasse mich nach vorne fallen…
                mir blasen 200km/h entgegen. Ich achte darauf in den ersten 2-3 Sekunden langsam auszuatmen..."
            </p>
        </div>
    </article>
    <article>
        <img src="../images/bodyflying.JPG">
        <div>
            <h2>Bodyflying</h2>
            <p>
                Erlebnis Testbericht "...Okay, entspannen, entspannen…. Ich stehe an die Türe und lasse mich nach vorne fallen…
                mir blasen 200km/h entgegen. Ich achte darauf in den ersten 2-3 Sekunden langsam auszuatmen..."
            </p>
        </div>
    </article>
    <article>
        <img src="../images/bodyflying.JPG">
        <div>
            <h2>Bodyflying</h2>
            <p>
                Erlebnis Testbericht "...Okay, entspannen, entspannen…. Ich stehe an die Türe und lasse mich nach vorne fallen…
                mir blasen 200km/h entgegen. Ich achte darauf in den ersten 2-3 Sekunden langsam auszuatmen..."
            </p>
        </div>
    </article>
    <article>
        <img src="../images/bodyflying.JPG">
        <div>
            <h2>Bodyflying</h2>
            <p>
                Erlebnis Testbericht "...Okay, entspannen, entspannen…. Ich stehe an die Türe und lasse mich nach vorne fallen…
                mir blasen 200km/h entgegen. Ich achte darauf in den ersten 2-3 Sekunden langsam auszuatmen..."
            </p>
        </div>
    </article>
    <article>
        <img src="../images/bodyflying.JPG">
        <div>
            <h2>Bodyflying</h2>
            <p>
                Erlebnis Testbericht "...Okay, entspannen, entspannen…. Ich stehe an die Türe und lasse mich nach vorne fallen…
                mir blasen 200km/h entgegen. Ich achte darauf in den ersten 2-3 Sekunden langsam auszuatmen..."
            </p>
        </div>
    </article>
</main>
</body>
</html>