<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/main.css">
</head>
<body>
<div class="col-3 menu">
    <ul>
        <li>Menu item 1</li>
        <li>Menu item 2</li>
        <li>Menu item 3</li>
        <li>Menu item 4</li>
    </ul>
</div>
    <div class="col-9">
        <div class="flex-container">
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_8004.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/louisdefunes.jpg">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_8004.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/louisdefunes.jpg">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_8004.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_1442.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_8004.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/louisdefunes.jpg">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_1442.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/louisdefunes.jpg">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_8004.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/louisdefunes.jpg">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/IMG_8004.JPG">
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../images/louisdefunes.jpg">
                </div>
            </div>
        </div>
    </div>
1. Grid layout
<div>Many web pages are based on a grid-view, which means that the page is divided into columns:
    A responsive grid-view often has 12 columns, and has a total width of 100%, and will shrink and expand as you resize the browser window.</div>
2. Flexbox
<div>The Flexible Box Layout Module, makes it easier to design flexible responsive layout structure without using float or positioning.</div>
3. Bootstrap grid system
<div>Bootstrap grid system uses a series of containers, rows, and columns to layout and align content. It is built with flexbox and is fully responsive.</div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</body>
</html>