<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/mediaQueries.css">
</head>
<body>
<header>
    <div class="layout-row layout-flexbox">
        <div id="top-logo">
            <img id="logo-big" src="../images/happyshops.ch.svg" >
            <img id="logo-small" src="../images/smile.PNG">
        </div>
        <div class="site-title"><a href="/" rel="home">Responsives Webdeseign Schulung</a></div>
    </div>
</header>

<header class="entry-header">
    <div class="layout-row">
        <h1>
            Media Queries - @media
        </h1>
    </div>
</header>
<main>
    <div class="header-image">
        <img src="../images/media-query-for-mobile-first.png">
    </div>
</main>

<header class="entry-header">
    <div class="layout-row">
        <h1>
            Display: flex
        </h1>
    </div>
</header>
<main>
    <div class="flexbox-container">
        <div id="df" class="displayflex">
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
            <div class="fi flexitem">PUGs lover</div>
        </div>
        <div class="selbox">
            <label><input type="radio" checked name="displayflex" value="flex"> flex</label>
            <label><input type="radio" name="displayflex" value="block"> block</label>
            <label><input type="radio" name="displayflex" value="inline-block"> inline-block</label>
        </div>
    </div>
</main>
</body>
</html>