<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/mediaQueries.css">
</head>
<body>
<header>
    <div class="layout-row layout-flexbox">
        <div id="top-logo">
            <svg viewBox="-100 -100 300 300" height="68px" width="68px" class="logo-svg">
                <path
                        +-- Move to Point
                        |
                        |        +-- Line to
                        |        |
                        |        |                  +-- close path
                        |        |                  |
                        d="M 100,10 L 200,60 L 100,130 Z" fill="firebrick"
                />
            </svg>
        </div>
        <div class="site-title"><a href="/" rel="home">Responsives Webdeseign Schulung</a></div>
    </div>
</header>

<header class="entry-header">
    <div class="layout-row">
        <h1>
            Media Queries - @media
        </h1>
    </div>
</header>
<main>
    <div class="header-image">
        <img src="../images/media-query-for-mobile-first.png">
    </div>
</main>
</body>
</html>